*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    --primary:#002266;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
}

header{
    height: 20vh;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
    opacity: 0;
    animation: header 1s ease-out forwards;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
}
body h2{
    margin-bottom: 20px;
}

body ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(5,1fr);
    width: 70vh;
    height: 70vh;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    list-style: none;
    gap: 4px;
    place-items: center;
}

body ul li{
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
body ul li:hover{
    cursor: pointer;
    background-color: #aaa;
}
.back{
    background-color: #f11;
    color: #fff;
}
.back:hover{
    background-color: #a11;
}
.ok{
    color: #fff;
    background-color: #3b3;
    
}
.ok:hover{
    background-color: #292;
    
}
.caja{
    grid-column: 1/ 4;
    width: 100%;
    height: 6px;
    align-self: end;
    display: flex;
    justify-content: space-around;
}
.caja div{
    width: 20%;
    height: 6px;
    background-color: #fff;
    position: relative;
    top:-20px;
}

img{
    height: 80%;
}
